/metadatatest/
/airflow/
/app_airfloww/
dockerfile
.DS_Store
.idea/
__pycache__/
/products*/
/env/
/ClickHouse/
/metadata/
*.json
/parquet_split/
/json_split/
logs.log
/build/
/click/
output_data
input_data
dimproductsdtl
dimproducts
Bucket data
json_split_csv
json_splitfullgzip
metadatatestjsongzip
